---
import "@/styles/globals.css";
import Logo from "@/components/Logo.astro";
import { CarouselWrapper } from "@/components/ui/CarouselWrapper";
import { NavMenu } from "@/components/ui/NavMenu";
import TitlePage from "@/components/TitlePage.astro";
import Flower from "@/components/icons/flower-tulip-svgrepo-com.svg";
import Face from "@/components/icons/girl-face-svgrepo-com.svg";
import Body from "@/components/icons/body-svgrepo-com.svg";
import Service from "@/components/Service.astro";
import MapWrapper from "@/components/MapWrapper.astro";
import Gallery from "@/components/Gallery.astro";
import NavMobile from "@/components/NavMobile";
import InstagramIcon from "@/components/icons/InstagramIcon.astro";
import WhatsAppButton from "@/components/WhatsAppButton.astro";
import Modal from "@/components/Modal";
import FirmasLogos from "@/components/FirmasLogos";
import CookiesBanner from "@/components/CookiesBanner";
import Footer from "@/components/Footer.astro";
import { useTranslations } from "@/i18n/utils";
import LanguageSelector from "@/components/LanguageSelector";

const images = [
  {
    path: "./images/Limpieza-facial-profunda.jpg",
    alt: "Limpieza facial profunda",
  },
  {
    path: "./images/beauty-face-massage-56884.jpg",
    alt: "Belleza masaje de cara",
  },
  {
    path: "./images/7eb0dcf310238450490b27502631cb48.jpg",
    alt: "Masaje de chocolate",
  },
];

const images2 = [
  {
    path: "./images/Limpieza-facial-profunda.jpg",
    alt: "Limpieza facial profunda",
  },
  {
    path: "./images/beauty-face-massage-56884.jpg",
    alt: "Belleza masaje de cara",
  },
  {
    path: "./images/7eb0dcf310238450490b27502631cb48.jpg",
    alt: "Masaje de chocolate",
  },
  {
    path: "./images/estetica-facial-barcelona-maxilodexeus.jpg",
    alt: "Cara de mujer maxilofacial",
  },
  {
    path: "./images/medicina-estetica-mujer-1024x492.jpg",
    alt: "Mujer haciendose tratamiento de estetica",
  },
];

export async function getStaticPaths() {
  const pages = [
    {
      lang: "en",
    },
    {
      lang: "de",
    },
    {
      lang: "fr",
    },
    {
      lang: "es",
    },
    {
      lang: "ca",
    },
  ];
  return pages.map(({ lang }) => {
    return {
      params: { lang },
    };
  });
}

let t = useTranslations("es");
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Estetica Derma - Centro de estética facial, corporal y SPA"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script is:inline src="https://unpkg.com/leaflet/dist/leaflet.js" defer
    ></script>
    <title>Estetica Derma</title>
  </head>
  <body data-translation={t}>
    <Modal title={t("popup.bono.regalo")} client:load>
      <p class="text-sm lg:text-lg font-inter">{t("popup.bono")}</p>
      <p class="text-sm lg:text-lg font-inter">
        <a class="text-rose-400" href="https://wa.me/34691310652"
          >{t("popup.contact")}</a
        >
        {t("popup.more_info")}
      </p>
    </Modal>
    <main class="flex flex-col items-center">
      <section
        class="hidden lg:flex lg:relative flex-col-reverse justify-between lg:flex-col"
      >
        <div class="opacity-50 w-full">
          <CarouselWrapper images={images} client:load />
        </div>
        <nav
          class="flex justify-around items-center px-6 lg:absolute lg:top-[0.1rem] lg:right-1/2 lg:translate-x-1/2 lg:translate-y-1/2 lg:flex py-2 mt-2 gap-8"
        >
          <Logo title="Derma" subtitle={t("logo.subtitle")} />
          <NavMenu
            routes={[
              { label: t("routes.home"), href: "#home" },
              { label: t("routes.services"), href: "#servicios" },
              { label: t("routes.gallery"), href: "#galeria" },
              { label: t("routes.ubication"), href: "#ubicacion" },
            ]}
            client:visible
          />
          <InstagramIcon />
          <LanguageSelector lang={"es"} client:load />
        </nav>
      </section>

      <nav
        class="lg:hidden sticky top-0 bg-rose-50 shadow w-full z-20 flex justify-around items-center p-4 gap-4"
      >
        <Logo title="Derma" subtitle={t("logo.subtitle")} />
        <InstagramIcon />
        <NavMobile
          routes={[
            { label: t("routes.home"), href: "#home" },
            { label: t("routes.services"), href: "#servicios" },
            { label: t("routes.gallery"), href: "#galeria" },
            { label: t("routes.ubication"), href: "#ubicacion" },
          ]}
          client:visible
        />
        <LanguageSelector lang={"es"} client:load />
      </nav>
      <div class="lg:hidden w-full">
        <CarouselWrapper images={images} client:load />
      </div>

      <section
        id="home"
        class="flex flex-col items-center justify-center px-10 mt-10"
      >
        <TitlePage title={t("home.title")} subtitle={t("home.subtitle")} />
        <p class="mt-2 font-inter font-light text-xl text-center lg:text-2xl">
          {t("home.p1")}
        </p>
        <p
          class="mt-2 font-inter font-light text-xl text-center lg:text-2xl lg:text-2xl"
        >
          {t("home.p2")}
        </p>
        <p class="mt-2 font-inter font-light text-xl text-center lg:text-2xl">
          {t("home.p3")}
        </p>
      </section>
      <section
        id="servicios"
        class="flex flex-col sm:flex-row justify-around w-full mt-12 py-12 px-10 gap-28"
      >
        <Service
          src={Flower.src}
          alt="Flower icon"
          title={t("services.spa.title")}
          items={[
            t("services.spa.1"),
            t("services.spa.2"),
            t("services.spa.3"),
            t("services.spa.4"),
            t("services.spa.5"),
            t("services.spa.6"),
            t("services.spa.7"),
            t("services.spa.8"),
            t("services.spa.9"),
            t("services.spa.10"),
            t("services.spa.11"),
            t("services.spa.12"),
            t("services.spa.13"),
          ]}
        />

        <Service
          src={Face.src}
          alt="Face icon"
          title={t("services.facial.title")}
          items={[
            t("services.facial.1"),
            t("services.facial.2"),
            t("services.facial.3"),
            t("services.facial.4"),
            t("services.facial.5"),
            t("services.facial.6"),
            t("services.facial.7"),
            t("services.facial.8"),
            t("services.facial.9"),
            t("services.facial.10"),
            t("services.facial.11"),
            t("services.facial.12"),
            t("services.facial.13"),
          ]}
        />

        <Service
          src={Body.src}
          alt="Body icon"
          title={t("services.body.title")}
          items={[
            t("services.body.1"),
            t("services.body.2"),
            t("services.body.3"),
            t("services.body.4"),
            t("services.body.5"),
            t("services.body.6"),
            t("services.body.7"),
            t("services.body.8"),
            t("services.body.9"),
            t("services.body.10"),
            t("services.body.11"),
            t("services.body.12"),
            t("services.body.13"),
          ]}
        />
      </section>

      <section
        id="galeria"
        class="flex flex-col items-center px-10 mt-10 w-2/3"
      >
        <TitlePage
          title={t("gallery.title")}
          subtitle={t("gallery.subtitle")}
        />
        <Gallery images={images2} />
      </section>

      <FirmasLogos title={t("firmas.title")} client:load />

      <section id="ubicacion" class="flex flex-col items-center mt-20">
        <TitlePage
          title={t("ubication.title")}
          subtitle={t("ubication.subtitle")}
        />
        <MapWrapper />
      </section>

      <section
        id="contacta"
        class="flex flex-col sm:flex-row justify-around w-full mt-12 py-0 px-10 mb-24"
      >
        <div class="flex flex-col items-center sm:items-start">
          <h3 class="text-2xl font-inter font-medium">{t("about.us.title")}</h3>
          <p class="font-inter font-light text-sm lg:text-lg">
            {t("about.us.p1")}
          </p>
          <p class="font-inter font-light text-sm lg:text-lg">
            {t("about.us.p2")}
          </p>
        </div>
        <div class="flex flex-col mt-6 sm:mt-0 items-center sm:items-start">
          <h3 class="text-2xl font-inter font-medium">
            {t("about.horary.title")}
          </h3>
          <ul class="font-inter font-light text-sm lg:text-lg">
            <li>{t("about.horary.p1")}</li>
            <li>{t("about.horary.p2")}</li>
            <li>{t("about.horary.p3")}</li>
          </ul>
        </div>
        <div class="flex flex-col mt-6 sm:mt-0 items-center sm:items-start">
          <h3 class="text-2xl font-inter font-medium">
            {t("about.contact.title")}
          </h3>
          <ul class="font-inter font-light text-sm lg:text-lg">
            <li>{t("about.contact.p1")}</li>
            <li>{t("about.contact.p2")}</li>
            <li>{t("about.contact.p3")}</li>
          </ul>
        </div>
      </section>
      <CookiesBanner client:load />
    </main>
    <Footer
      subtitle={t("logo.subtitle")}
      address={t("about.contact.p1")}
      contact={t("contact")}
      company={t("empresa")}
      services={t("servicios")}
    />
    <WhatsAppButton />
  </body>
</html>
